---
export type ReleaseBoxProps = {
  title: string;
  withCopy: boolean;
  withSlot: boolean;
  content: string;
};
const { title, withCopy, withSlot, content } = Astro.props as ReleaseBoxProps;
---

<div class='border rounded p-8 border-secondary space-y-4'>
  <div class='flex justify-between'>
    <span>{title}</span>
    {withCopy && <span>KLIKNIJ SE BY SKOPIOWAĆ</span>}
  </div>
  <div>
    {withSlot ? <slot /> : content}
  </div>
</div>
