@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #040202;
    --text: #ffffff;
    --primary: #841010;
    --secondary: #3f0808;
    --accent: #8a5c5c;
    --tertiary: #ffffff3d;
  }
}

@layer base {
  * {
    @apply text-text;
    font-family: 'Playfair Display', sans-serif;
  }

  html {
    h1 {
      @apply lg:text-6xl xl:text-7xl text-4xl sm:text-6xl md:text-7xl 2xl:text-8xl;
    }

    h2 {
      @apply text-3xl italic text-[var(--accent)];
    }

    h3 {
      @apply text-2xl text-[var(--tertiary)];
    }

    h4 {
      @apply text-xl;
    }
  }

  body {
    @apply max-h-screen;

    svg {
      @apply fill-[var(--tertiary)] hover:fill-[var(--accent)] w-6 h-6 transition-colors duration-100 ease-in-out;
    }
  }
}