---
import NavigationGroup from './navigation-group.astro';

export type Link = {
  href: string;
  label: string;
};
---

<header class='w-screen absolute top-0 flex justify-center'>
  <nav class='container flex items-center justify-between w-full text-text p-8'>
    <h4> <a href='/'>Bartek Mieżyński</a></h4>
    <NavigationGroup
      links={[
        { href: '/', label: 'Katastrofa' },
        { href: '/lyrics', label: 'Teksty' },
        { href: '/live', label: 'Live' },
        { href: '/press', label: 'Press' },
        { href: '/kontakt', label: 'Kontakt' },
      ]}
    />
  </nav>
</header>
