---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Zawróć.'>
  <div
    class='w-screen h-screen flex justify-center items-center text-white flex-col space-y-4'
  >
    <h1 class='text-2xl'>Nic tu nie ma...</h1>
    <a href='/'>
      <button class='border rounded border-red-800 px-4 py-2 bg-red-700'
        >Zawróć</button
      >
    </a>
  </div>
</Layout>
