---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Katastrofa'>
  <main class='text-white'>
    <h1>Katastrofa</h1>
    <p>Wszystko się sypie.</p>
  </main>
</Layout>

<style></style>
