---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Bartek Mieżyński'>
  <main
    class='text-white w-screen h-screen flex justify-center items-center flex-col space-y-4'
  >
    <h1 transition:name='hero'>Katastrofa</h1>
    <h2>Second header</h2>
    <h3>Third header</h3>
    <p>Bartek Mieżyński</p>
  </main>
</Layout>
