---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Bartek Mieżyński'>
  <main
    class='text-white w-screen h-screen flex justify-center items-center flex-col space-y-4'
  >
    <h1 class='text-2xl'>Katastrofa</h1>
    <p>Bartek Mieżyński</p>
  </main>
</Layout>

<style></style>
