---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '@components/navigation/navigation.astro';
import Footer from '@components/footer/footer.astro';
import '@styles/global.css';
import '@fontsource/playfair-display';
import '@fontsource/maitree';
import '@fontsource/inconsolata';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Bartek Mieżyński / Katastrofa'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/dotted-line-face.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <main class='relative mt-[70px] min-h-full block p-8'>
      <slot />
    </main>
  </body></html
>
