---
import Socials from './socials.astro';
import Contact from './contact.astro';
---

<footer class='w-screen absolute bottom-0 flex justify-center'>
  <nav class='container flex items-center justify-between w-full text-text p-8'>
    <Socials />
    <Contact />
  </nav>
</footer>
