---
import type { Link } from '../types';

const { href, label } = Astro.props as Link;
const isActive = Astro.url.pathname === href;
---

<li
  class={`transition-colors duration-100 ${
    isActive ? 'text-red-700' : 'hover:text-yellow-400'
  }`}
>
  <a href={href}>{label}</a>
</li>
