---
import Layout from '@layouts/Layout.astro';
import Button from '@components/ui/button.astro';
---

<Layout title='Zawróć.'>
  <div
    class='w-screen h-screen flex justify-center items-center text-white flex-col space-y-4'
  >
    <h1 class='text-2xl'>Nic tu nie ma...</h1>
    <Button href='/'>Zawróć</Button>
  </div>
</Layout>
