---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Bartek Mieżyński'>
  <div class='grid place-items-center gap-4'>
    <h1 transition:name='hero'>Gorszy Dzień</h1>
    <h2>Bartek Mieżyński</h2>
    <p>1 | 12 | 2023</p>
  </div>
</Layout>
