---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Bartek Mieżyński'>
  <main
    class='text-white w-screen h-screen flex justify-center items-center flex-col space-y-4'
  >
    <h1 transition:name='hero'>Gorszy Dzień</h1>
    <h2>Bartek Mieżyński</h2>
    <p>1 | 12 | 2023</p>
  </main>
</Layout>
