---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Bartek Mieżyński'>
  <div class='flex items-center w-full container justify-center'>
    <div>
      <h1 transition:name='hero'>Kontakt</h1>
      <p>Bartek Mieżyński</p>
    </div>
  </div>
</Layout>
