---
import HalvesLayout from '@layouts/HalvesLayout.astro';
---

<HalvesLayout
  title='Kontakt'
  description='Napisz do mnie'
  backgroundColor='bg-emerald-900/10'
>
  <div
    slot='content'
    class='flex h-full flex-col justify-center space-y-12 px-8 py-16 text-left lg:justify-normal'
  >
    <h2 transition:name='hero' class='hidden lg:block lg:text-center'>
      Kontakt
    </h2>
    <p class='break-words text-center text-2xl'>
      Napisz do mnie na adres:<br /><a
        class='text-secondary underline transition duration-100 hover:cursor-pointer hover:text-primary'
        href='mailto:miezynskibartek@gmail.com'>miezynskibartek@gmail.com</a
      ><br />lub na social mediach
    </p>
  </div>
</HalvesLayout>
