---
const { href } = Astro.props;
---

<a href={href} target='_blank'>
  <button
    class='border px-4 py-2 bg-secondary text-text border-secondary hover:bg-primary hover:text-text transition-colors duration-150'
  >
    <slot />
  </button>
</a>
