---
const { href, blank = true } = Astro.props;
---

<a href={href} target={blank ? '_blank' : ''}>
  <button
    class='border border-secondary bg-secondary px-4 py-2 text-text transition-colors duration-150 hover:bg-primary hover:text-text'
  >
    <slot />
  </button>
</a>
