---
import NavigationGroup from './navigation-group.astro';

export type Link = {
  href: string;
  label: string;
};
---

<header
  class='w-screen hidden lg:flex top-0 justify-center fixed h-[70px] z-50 items-center'
>
  <nav class='container w-full flex items-center justify-between text-text p-8'>
    <h4>
      <a href='/'>Bartek Mieżyński</a>
    </h4>
    <NavigationGroup
      links={[
        { href: '/', label: 'Gorszy Dzień' },
        { href: '/kontakt/', label: 'Kontakt' },
        { href: '/live/', label: 'Live' },
      ]}
    />
  </nav>
</header>
