---
import NavigationGroup from './navigation-group.astro';
import SocialLink from '@components/ui/social-link.astro';
import { navigationLinks, socialLinks } from '@data/links';
---

<section
  class='hidden h-full w-full flex-col justify-between px-8 py-16 lg:flex'
>
  <header>
    <h1>Bartek Mieżyński</h1>
  </header>
  <NavigationGroup links={navigationLinks} />
  <footer class='ml-auto flex space-x-12'>
    {socialLinks.map((social) => <SocialLink {...social} />)}
  </footer>
</section>
